{
  "extends": ["react-native", "plugin:jest/recommended"],
  "rules": {
    "react/prefer-stateless-function": "warn",
    "react-native/no-color-literals": "warn",
    "react-native/no-inline-styles": "warn",
    }
}
